@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
body::-webkit-scrollbar{
  width: 0;
  height: 0;
}
@layer components {
    .a {
      @apply bg-black absolute top-[90px] left-0 w-full flex flex-col items-center  md:hidden h-[calc(100vh-90px)] py-5 px-20 transition-all duration-700 text-white ;
    }
  }